@model IEnumerable<FluentTest.Models.Post>
@{
    ViewBag.Title = "ViewFeed";
}

<h2>ViewFeed</h2>

@foreach (var post in Model)
{
<div style="border-style:solid;border-width:1px;border-color:black;">
    <span style="color:forestgreen">@post.Author</span>    <i>at @post.DatePosted.ToString("yyyy/MM/dd HH:mm")</i>
    <p>
        @post.Content
    </p>
</div>

    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>